.btn-close {
  position: relative;
  width: 30px;
  height: 30px;

  &::before, &::after {
    @include pseudo;

    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--desktop-black);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
