footer.footer
  h2.visually-hidden наше приложение
  .container.footer__container
    .footer__content
      .h2.footer__title Еще больше полезных материалов и видеоуроков в нашем приложении
      ul.list-reset.footer__list
        li.footer__item
          a(href="#", target="_blank", rel="nofollow", aria-label="наше приложение в app store").footer__link.footer__link--app-store
        li.footer__item
          a(href="#", target="_blank", rel="nofollow", aria-label="наше приложение в google play").footer__link.footer__link--google-play
    .footer__qr-wrap
      .footer__qr
      .footer__desc iOS / Android
      .footer__bold Наведите камеру устройства на QR-код, чтобы скачать
    .footer__developer сделано в xpage
