extends partials/head
block content
  body.page__body
    div.site-container
      include partials/header
      main.main
        include partials/hero
        include partials/game
        include partials/studies
      include partials/footer
